html,body,#canvas{height:100%;width:100%;margin:0;padding:0;overflow:hidden;display:block;background:url(/assets/background.16f92ef3.jpg) no-repeat center center;background-size:cover}#canvas{outline:none}
